.services-container {
  padding: 30px;
  max-width: 1200px;
  margin: auto;
}


.services-header {
  text-align: center;
  margin-bottom: 40px;
}

.services-header h2 {
  font-size: 36px;
  margin-bottom: 10px;
}


.services-grid {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-bottom: 60px;
}

.service-card {
  background: #f7f7f7;
  border-radius: 12px;
  padding: 15px;
  transition: 0.3s;
  text-align: center;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.service-card img {
  width: 100%;
  border-radius: 10px;
}


.special-features h2 {
  text-align: center;
  margin-bottom: 20px;
}

.features-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.feature-card {
  background: #fff1db;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  font-weight: 500;
}


.process-section {
  margin-top: 60px;
  text-align: center;
}

.process-flow {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.process-step {
  width: 220px;
  background: #ffeee2;
  padding: 20px;
  border-radius: 12px;
}

.process-step span {
  display: block;
  background: orange;
  color: white;
  width: 40px;
  height: 40px;
  margin: auto;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
