
.navbar {
  width: 100%;
  height: 70px;
  background: #fff8f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.nav-logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ff7b00;
  cursor: pointer;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #ff7b00;
}


.login-btn {
  padding: 8px 16px;
  background: #ff7b00;
  color: white !important;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.3s;
}

.login-btn:hover {
  background: #e56d00;
}


.hamburger {
  font-size: 1.9rem;
  color: #333;
  cursor: pointer;
  display: none; 
}


@media (max-width: 850px) {
  .hamburger {
    display: block;
  }

  
  .nav-links {
    position: fixed;
    top: 70px;
    right: -100%;
    width: 60%;
    height: 100vh;
    background: #fff8f0;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    padding: 2rem;
    padding-top: 2.5rem;
    transition: 0.4s ease-in-out;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.15);
    
  }

  
  .nav-links.active {
    right: 0;
  }

  .nav-links li a {
    font-size: 1.4rem;
    color: #333;
  }

  .login-btn {
    width: fit-content;
  }
}

