.menu-container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
}

.menu-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 25px;
  font-weight: bold;
}

.menu-tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin-bottom: 30px;
}

.menu-tabs button {
  padding: 10px 18px;
  border: none;
  border-radius: 25px;
  background: #eee;
  cursor: pointer;
  transition: 0.3s;
}

.menu-tabs button.active {
  background: #f57c00;
  color: white;
  font-weight: bold;
}

.menu-tabs button:hover {
  background: #ffac6b;
  color: #fff;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.menu-card {
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.menu-card:hover {
  transform: translateY(-6px);
}

.menu-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.menu-info {
  padding: 15px;
}

.menu-info h3 {
  margin: 0;
  font-size: 20px;
  margin-bottom: 8px;
}

.desc {
  font-size: 14px;
  color: #555;
  margin-bottom: 12px;
}

.menu-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #f57c00;
}

.add-btn {
  background: #f57c00;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.add-btn:hover {
  background: #ff9100;
}
.load-more-wrapper {
  text-align: center;
  margin-top: 25px;
}

.load-more-btn {
  padding: 12px 30px;
  font-size: 16px;
  border: none;
  background: #f57c00;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.load-more-btn:hover {
  background: #ff9100;
}