.home-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(65%);
  transition: opacity 1s ease-in-out;
  animation: fade 1s ease-in-out;
}

/* Fade Animation */
@keyframes fade {
  from { opacity: 0.4; }
  to   { opacity: 1; }
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.hero-title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.hero-btn {
  padding: 12px 30px;
  font-size: 1.2rem;
  background-color: #ff6347;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  transition: 0.3s ease;
}

.hero-btn:hover {
  background-color: #ff2e00;
}
